@import url('CustomerHome.css');
body {
    font-size: 18px;
}

#center {
    width: 97%;
    margin: 100px 0px 10px 20px;
    padding: 30px;
}

    #center img {
        border-radius: 20px;
    }

.table-sm th,
.table-sm td {
    white-space: nowrap;
    width: 1%;
}
